html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f5f2f0;
  color: #000;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: .27em;
}

h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin-top: .2em;
}

body {
  padding: .75em;
  margin: 0;
  background-color: #fff;
}

p {
  padding-top: .4rem;
  padding-bottom: .4rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: 0;
  padding-top: .6em;
  margin: .3em;
}

a {
  color: #fff;
  padding: .6em;
  background-color: #623b0c;
  border-radius: 8px;
  text-decoration: none;
  justify-content: space-between;
}

li {
  flex-direction: column;
  background: #ede3db;
  border-radius: 8px;
  border: 2px solid #623b0c;
  padding: 1em;
  display: flex;
}

ul {
  grid-column: auto;
}

img {
  width: 100%;
  display: block;
}
